#nextbutton {
    z-index: 10;
    width: 30%;
    height: 4.5rem;
    user-select: none;
    display: none;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    margin: 2rem auto;
    /*border: 1px solid black;*/
    background: -webkit-linear-gradient(white, white, white, white, #CCFFFF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(white, white, white, white, #CCFFFF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(white, white, white, white, #CCFFFF); /* Firefox 3.6 - 15 */
    background: linear-gradient(white, white, white, white, #CCFFFF); /* 标准的语法 */
}

div.nextbutton {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 4.5rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #359AFF;
    font-family: "Arial", "Microsoft YaHei", "黑体", sans-serif;
}

#musicPlay{
    z-index: 10;
    opacity: 0.5;
    border: 2px solid white;
    border-radius: 2rem;
    height: 1.5rem;
    width: 1.5rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    user-select: none;
    margin: 0.5rem;
}